<h1>Form to add new Menu Item:</h1>

<%= render "layouts/menu_item_form" %>

<p><%= link_to "Return to food products", food_products_path %></p>
<p><%= link_to "Return to Menu Items", menu_items_path %></p>